body{
    font-family: 'Caveat', cursive;
    background-color: rgb(233, 233, 233);
}
ul>li{
    font-size: 1.5rem;
    list-style: none;
}
h1{
    font-weight: 700;
    font-size: 2.7rem;
}
h2{
    font-weight: 600;
    font-size: 2.5rem;
}
.add-items{
    width: 75%;
    border-radius: 5px;
}
.button_add{
    border-radius: 12px;
    padding-bottom: 0.8rem;
}
.fa-times-circle{
    color: red;
}
.active-line-through{
    text-decoration: line-through;
}